{% extends 'laboratorio/base.html' %}
{% load staticfiles %}
{% block header_text %}
    <link href="{% static 'css/alertify.css' %}" rel="stylesheet">
    <link href="{% static 'css/alertify.rtl.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/alertify.js'%} "></script>
    <script src="{% static 'js/moment.js'%} "></script>
    <script src="{% static 'js/Laboratory/ProjectController.js'%} "></script>
    <script type="application/javascript">
        var urlEdit = "{% url 'laboratorio:editarProyecto' id=0%}";
        var urlAll = "{% url 'laboratorio:filtrarProyectos'%}";
        $(document).ready(function () {
            showAllProjects(urlAll,urlEdit);
        });
    </script>
{% endblock %}
{% block content %}
    <section id="portfolio" >
        <div class="container">
            <h1 class="text-center" style="color:#fed136">Proyectos</h1>
            <a href="{%url 'laboratorio:agregarProyecto'%}" class="btn btn-success btn-round img-crear"><span class="glyphicon glyphicon-plus"></span></a>
            <div class="row">
                <div class="datagrid ">
                    <div class="form-group">
                        <label for="name" class="col-lg-1">Nombre: </label>
                        <div class="col-sm-6">
                            <table>
                                <tr>
                                    <td>
                                        <input class="form-control" type="text" name="name" id="name" maxlength="80" value="" required autofocus placeholder="Nombre">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="showAllProjects(urlAll,urlEdit);">Consultar</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="datagrid ">
                    <table id="projects" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Avance</th>
                                <th>Estado</th>
                                <th>Prioridad</th>
                                <th>Fecha Inicio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div id="paging">
                                        <ul>
                                            <li><a href="#"><span>Previous</span></a></li>
                                            <li><a href="#" class="active"><span>1</span></a></li>
                                            <li><a href="#"><span>Next</span></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>

                        </tbody>
                    </table>
                </div>
             </div>
         </div>
    </section>
{% endblock %}
